<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingdong_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,210},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,382},{76,38}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,10},{76,38}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,530},{90,52}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,9},{90,52}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,624},{96,64}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,9},{96,64}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,522},{100,76}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,9},{100,76}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,522},{100,76}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,9},{100,76}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,858},{104,86}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,10},{104,86}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,758},{104,98}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,10},{104,98}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,758},{102,110}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,10},{102,110}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,106},{102,122}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,10},{102,122}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,106},{102,122}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,10},{102,122}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,670},{104,132}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,12},{104,132}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,854},{104,134}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,21},{104,134}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,894},{104,126}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,31},{104,126}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,674},{120,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,54},{120,98}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,356},{150,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{150,126}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{168,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{168,130}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,386},{170,142}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{170,142}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,248},{172,144}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{172,144}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,234},{172,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{172,146}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,144}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{178,144}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,142}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{178,142}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,246},{174,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{174,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,132}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{178,132}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{176,128}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{176,128}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{176,128}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{176,128}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,132},{176,114}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{176,114}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,132},{176,112}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{176,112}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,136},{174,96}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,63},{174,96}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,90}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,70},{174,90}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,146},{174,92}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{174,92}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,338},{166,94}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,65},{166,94}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,240},{166,96}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,59},{166,96}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{122,102}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{122,102}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{128,106}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,49},{128,106}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{128,106}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,49},{128,106}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{136,100}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{136,100}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,508},{140,100}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{140,100}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,210},{144,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{144,120}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,714},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,662},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,534},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,574},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,522},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,610},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,530},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,434},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,394},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,382},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>bingdong_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{146,138}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingdong.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c14a47202c031f0fd9e681357b6cb38:1/1$</string>
            <key>textureFileName</key>
            <string>bingdong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
