<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>type</key>
	<integer>1</integer>
	<key>width</key>
	<real>0.25</real>
	<key>height</key>
	<real>0.25</real>
	<key>duration</key>
	<real>3.2</real>
	<key>plists</key>
	<array>
		<string>bingdong.plist</string>
	</array>
	<key>texture</key>
	<string>bingdong.pvr.ccz</string>
	<key>texname</key>
	<string>bingdong_%03d.png</string>
	<key>fpsrate</key>
	<integer>15</integer>
	<key>sound</key>
	<dict>
		<key>file</key>
		<string>bingdong.mp3</string>
		<key>time</key>
		<real>2.0</real>
		<key>start</key>
		<real>1.2</real>
		<key>repeat</key>
		<real>1</real>
	</dict>
	<key>ending</key>
	<string></string>
</dict>
</plist>
