<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1020},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,852},{24,18}}</string>
                <key>offset</key>
                <string>{13,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,197},{24,18}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,780},{36,34}}</string>
                <key>offset</key>
                <string>{11,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,182},{36,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,732},{46,44}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,173},{46,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,950},{58,52}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,166},{58,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,952},{66,58}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,161},{66,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,952},{76,64}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,156},{76,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,952},{82,70}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,151},{82,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,270},{90,76}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,145},{90,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,268},{98,82}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,140},{98,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,698},{102,88}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,135},{102,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,588},{108,92}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,132},{108,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,472},{114,96}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,128},{114,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,352},{118,100}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,124},{118,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,2},{120,104}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,120},{120,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,898},{124,106}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,118},{124,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,140},{126,112}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,113},{126,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,140},{128,118}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,108},{128,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,898},{132,122}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,104},{132,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{136,126}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,101},{136,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,826},{142,130}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,97},{142,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,878},{144,132}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,95},{144,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,676},{148,136}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,91},{148,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,872},{150,138}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,89},{150,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,876},{154,142}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{154,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{158,144}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,84},{158,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,514},{160,148}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,80},{160,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,352},{160,152}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,77},{160,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,352},{162,154}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,75},{162,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{162,158}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,72},{162,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,186},{164,160}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,71},{164,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,730},{166,164}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,68},{166,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,562},{166,164}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,68},{166,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,780},{168,166}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,66},{168,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,562},{168,168}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,64},{168,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,780},{168,170}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,62},{168,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,852},{170,172}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,60},{170,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,186},{172,174}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,59},{172,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,384},{174,176}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{174,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,598},{174,180}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,53},{174,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{176,182}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{176,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,198},{176,184}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{176,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,410},{176,186}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{176,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,822},{178,190}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,44},{178,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,628},{178,192}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{178,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{180,194}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{180,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,210},{182,198}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{182,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,426},{182,200}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{182,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,646},{184,204}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{184,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{184,206}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{184,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,434},{184,210}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{184,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{184,210}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{184,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,220},{186,212}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{186,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,660},{186,214}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{186,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,440},{184,214}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{184,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{184,216}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{184,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{186,216}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{186,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,218}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{188,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{186,216}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{186,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{180,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{180,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{176,218}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{176,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,656},{170,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{170,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,214},{164,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{164,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,426},{156,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{156,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>baozha_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{148,198}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{148,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fa3dedbc012a5d6602070cd64c5fcd3:1/1$</string>
            <key>textureFileName</key>
            <string>baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
